/*
h1{ 
    color : red;
    background-color: aqua;
    font-size: 100px;
}
    */
h1{ 
    color : rgb(0, 138, 18);
}

p{
    border-width: 5px;
    border-style: dotted;
    border-color: blue;
    padding: 20px;
    margin: 30px;
}